*{
    margin: 0;
    font-family: sans-serif;
}
body{
    background-image: ("deepocean.gif");
    background-repeat: no-repeat;
    background-position: center;
}

header{
    background-color: grey;
    padding: 5px;
}
nav{
    background-color: rgb(172, 172, 172);
}
nav ul li{
    display: inline;
    margin-right: 10px;
    text-decoration: none;
}
nav ul li a{
    text-decoration: none;
}

main{
    display: flex;
    justify-content: center;
}
article{
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 30px;
}
aside{
    display: inline-block;
}
section, aside{
    border: 1.5px solid grey;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}
footer{
    width: 100%;
    height: 70px;
    border-top: 1px solid;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  aside img{
    border-radius: 10px;
  }
  article img{
    width: 500px;
    border-radius: 10px;
    margin-top: 10px;
  }